body {
  background-color: paleturquoise;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5;
}
.form-container {
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}
.poem {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  border-left: 3.5px solid#4f301f;

  box-shadow: 0px 4px 30px 0px rgba(39, 33, 0, 0.03);
}
.poem strong {
  color: #4f301f;
}
.hidden {
  display: none;
}
.user-input {
  width: 80%;
  padding: 16px;
  font-size: 16px;
  border: 1px solid rgba(39, 33, 60, 0.4);
  line-height: 20px;
  color: grey;
  border-radius: 50px;
}
.submit-button {
  margin-left: 10px;
  border-radius: 50px;
  background-color: #4f301f;
  color: white;
  border: none;
  padding: 14px 24px;
  width: 150px;
}
a {
  color: #4f301f;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
